{% extends 'base.html' %}

{% block title %}
Cadastro de Beneficiário
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-10">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">

                <h3 class="mb-0">
                    Cadastro de Beneficiário
                </h3>

            </div>

            <div class="card-body">

                <p class="text-muted">
                    Preencha os dados abaixo para realizar sua inscrição
                    no Cadastro Habitacional Municipal.
                </p>

                <form method="post">

                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    {% for field in form %}

                        {% if field.field.widget.input_type == 'checkbox' %}

                            <div class="form-check form-switch mb-3">

                                {{ field }}

                                 <label class="form-check-label ms-2">
                                    {{ field.label }}
                                </label>

                                {% if field.errors %}
                                    <div class="text-danger fw-bold mt-1">
                                        {% for erro in field.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                        {% else %}

                            <div class="mb-3">

                                <label class="form-label fw-bold">
                                    {{ field.label }}
                                </label>

                                {{ field }}

                                {% if field.errors %}
                                    <div class="text-danger fw-bold mt-1">
                                        {% for erro in field.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                        {% endif %}

                    {% endfor %}

                    <div class="text-center mt-4">

                        <button type="submit"
                                class="btn btn-success btn-lg">

                            Salvar Cadastro

                        </button>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}